{% extends 'home.html' %}

{% block title %}Education{% endblock %}

{% block content %}
<section id="education">
    <h1 class="section-title">EDUCATION</h1>

    <!-- Master of Science -->
    <div class="experience-item">
        <div class="experience-header">
            <h3 class="job-title">Master of Science in Computer and Information Sciences</h3>
            <span class="date">Graduation: December 2024</span>
            <h4 class="company-name">Oklahoma State University</h4>
        </div>
        <p style="text-align: left;">
            <strong>CourseWork:</strong>Cloud Computing, Database Systems, Big Data Analytics
        </p>
    </div>

    <!-- Bachelor of Technology -->
    <div class="experience-item">
        <div class="experience-header">
            <h3 class="job-title">Bachelor of Technology in Computer Science and Engineering</h3>
            <span class="date">Graduation: July 2021</span>
            <h4 class="company-name">Sri Indu College of Engineering and Technology</h4>
        </div>
        <p style="text-align: left;">
            <strong>CourseWork:</strong>Web Development, Database Management Systems
        </p>
    </div>

</section>
{% endblock %}
