{% extends 'home.html' %}

{% block title %}Experience{% endblock %}

{% block content %}
<section id="experience">
    <h1 class="section-title">EXPERIENCE</h1>

    <!-- Graduate Assistant -->
    <div class="experience-item">
        <div class="experience-header">
            <h3 class="job-title">Graduate Assistant</h3>
            <span class="date">August 2024 - Dec 2024</span>
            <h4 class="company-name">Oklahoma State University</h4>
        </div>
        <p style="text-align: left;">
            As a Graduate Teaching Assistant at Oklahoma State University, I guided students through mastering data structures and algorithms, covering advanced topics such as trees, graphs, and hash tables. I provided hands-on support by teaching best coding practices in Java and C++, facilitating weekly discussions, grading assignments, and offering detailed feedback on critical concepts like Big-O notation and sorting techniques, contributing to a 95% student satisfaction rate. Additionally, I prepared ABET reports to analyze student performance, leveraging data-driven insights to support curriculum enhancements and academic growth.    </div>

    <!-- Software Developer -->
    <div class="experience-item">
        <div class="experience-header">
            <h3 class="job-title">Senior Web Developer</h3>
            <span class="date">August 2021 - Dec 2022</span>
            <h4 class="company-name">Accenture</h4>
        </div>
        <p style="text-align: left;">
            At a Senior Web Developer, I developed and optimized scalable web solutions using Drupal and WordPress, customizing themes and back-end functionalities to meet client branding and marketing requirements. I improved database performance by 30% through indexing and query optimization and streamlined release processes by 40% with Azure DevOps CI/CD pipelines. Leveraging React.js and PHP, I delivered modular, API-integrated applications, enhancing functionality and reducing latency. Collaborating with cross-functional teams, including designers, marketing specialists, and non-technical stakeholders, I ensured seamless project delivery. My work on SEO strategies, such as metadata optimization and structured data, resulted in a 15% increase in organic traffic.        </p>
    </div>

    <!-- Software Developer Associate -->
    <div class="experience-item">
        <div class="experience-header">
            <h3 class="job-title">Web Developer</h3>
            <span class="date">June 2019 - August 2021</span>
            <h4 class="company-name">Accenture</h4>
        </div>
        <p style="text-align: left;">
            As a Web Developer, I built high-performance, Drupal-based websites and responsive front-end interfaces using HTML5, CSS3, and Bootstrap, ensuring mobile and cross-browser compatibility. I integrated third-party APIs for payment gateways and inventory management, improving functionality and user experience. Utilizing GitHub for version control and implementing CI/CD workflows, I accelerated deployment cycles while maintaining code integrity. I actively collaborated with stakeholders and cross-functional teams, aligning technical solutions with business goals and driving a 15% increase in organic traffic and conversion rates.
        </p>
        </div>

    <div class="experience-item">
        <div class="experience-header">
            <h3 class="job-title">Software Developer Intern </h3>
            <span class="date">January 2019 - May 2019</span>
            <h4 class="company-name">Accenture</h4>
        </div>
        <p style="text-align: left;">
            As an Software Developer intern, I developed responsive UI components using Angular, improving maintainability and modularity. I optimized SQL Server queries, enhancing data retrieval efficiency, and deployed applications on Microsoft Azure, gaining hands-on experience in cloud-based workflows. Working with cross-functional teams, I ensured technical solutions aligned with project objectives and contributed to delivering user-centric, performance-driven web applications.
        </p>
        </div>


</section>
{% endblock %}
