{% extends 'home.html' %}

{% block title %}SKILLS{% endblock %}

{% block content %}
<section id="skills">
    <h1 class="skills-title">Skills</h1>
    <ul class="skills-list">
        <!--<li><strong>Programming Languages:</strong> JavaScript, Python, SQL, Java, C#, PHP</li>
        <li><strong>Front End Technologies:</strong> React.js, Angular.js, HTML5, CSS3, XML, Bootstrap, jQuery, Responsive Design</li>
        <li><strong>Back-End & API Development:</strong> Django, Node.js, ASP.NET, .NET Core, RESTful APIs</li>
        <li><strong>Database Technologies:</strong> MySQL, PostgreSQL, NoSQL</li>
        <li><strong>Web Analytics & SEO Tools:</strong> Google Analytics, Google Tag Manager, Google Search Console, Brightedge</li>
        <li><strong>Content Management Systems (CMS):</strong> WordPress, Cascade, Drupal, Adobe Experience Manager(AEM)</li>
        <li><strong>Cloud & DevOps:</strong> AWS, Azure, Docker, Kubernetes, Nginx</li>
        <li><strong>Other Tools & Technologies:</strong> Git, Postman, Swagger, Jira, Confluence, WordPress, Grafana, QuickSight, CloudWatch</li>-->
        <li><strong>Programming Languages:</strong> JavaScript, TypeScript, Python, Java, PHP, C#</li>
        <li><strong>Front-End Technologies:</strong> React.js, Angular.js, HTML5, CSS3, Bootstrap</li>
        <li><strong>Back-End & API Development:</strong> Django, .NET Core, ASP.NET, RESTful APIs, Node.js, Express.js, Swagger</li>
        <li><strong>Content Management Systems (CMS):</strong> WordPress, Drupal, Adobe Experience Manager (AEM)</li>
        <li><strong>Database Technologies:</strong> SQL Server, PostgreSQL, MS SQL</li>
        <li><strong>Cloud & DevOps:</strong> Azure, AWS, Docker, Kubernetes, CI/CD Pipelines</li>
        <li><strong>Other Tools & Technologies:</strong> Git, GitHub, GitLab, Postman, Selenium, Jira, Confluence, ServiceNow</li>

    </ul>
</section>

{% endblock %}