{% extends 'home.html' %}

{% block title %}SKILLS{% endblock %}

{% block content %}
<section id="skills">
    <h1 class="skills-title">Skills</h1>
    <ul class="skills-list">
        <li><strong>Programming Languages:</strong> JavaScript, Python, Java</li>
        <li><strong>Front End Technologies:</strong> React.js, Angular.js, Django, HTML5, CSS3, Bootstrap, Responsive Design</li>
        <li><strong>Back-End & API Development:</strong> Node.js, RESTful APIs</li>
        <li><strong>Database Technologies:</strong> MySQL, PostgreSQL, NoSQL</li>
        <li><strong>Web Analytics & SEO Tools:</strong> Google Analytics, Google Tag Manager, Google Search Console, Brightedge</li>
        <li><strong>Content Management Systems (CMS):</strong> WordPress, Cascade, Drupal, Adobe Experience Manager(AEM)</li>
        <li><strong>Cloud & DevOps:</strong> AWS, Azure, Docker, Kubernetes</li>
        <li><strong>Other Tools & Technologies:</strong> Git, Jira, Confluence, Postman</li>
    </ul>
</section>

{% endblock %}
